<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Add A Lost Pet</h1>
      <%= simple_form_for @pet do |f| %>
        <%= f.input :species, collection: %w(Dog Cat Rabbit), as: :radio_buttons %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :found_on %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>